@using GridMvc.Html
@model BeYourMarket.Web.Models.SearchListingModel

@{
    Layout = null;
}

@helper GetCategoryName(int id)
{
    @Model.Categories.Single(x => x.ID == id).Name
}

@helper GetImage(string url, int ListingID)
{
    <a href="@Url.Action("Listing", "Listing", new { id = ListingID })">
        <img src="@url">
    </a>
}

@helper GetItemLink(string title, int ListingID)
{
    <a href="@Url.Action("Listing", "Listing", new { id = ListingID })">
        @title
    </a>
}

<div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.Grid(Model.Grid).SetLanguage(Context.GetPrincipalAppLanguageForRequest().ToString()).EmptyText("[[[Não há itens a exibir.]]]").Columns(columns =>
                       {
                           columns.Add(x => x.UrlPicture).Encoded(false).Sanitized(false)
                               .SetWidth(150)
                               .RenderValueAs(x => GetImage(x.UrlPicture, x.ListingCurrent.ID)).Titled("[[[Foto]]]");

                           if (Model.CategoryID == 0)
                               columns.Add(x => x.ListingCurrent.CategoryID).RenderValueAs(x => GetCategoryName(x.ListingCurrent.CategoryID)).Titled("[[[Categoria]]]");

                           columns.Add(x => x.ListingCurrent.Title).Encoded(false).Sanitized(false)
                               .RenderValueAs(x => GetItemLink(x.ListingCurrent.Title, x.ListingCurrent.ID)).Titled("[[[Título]]]");

                           columns.Add(x => x.ListingCurrent.Description).Titled("[[[Descrição]]]").RenderValueAs(x => x.ListingCurrent.Description.PrefixString());
                           columns.Add(x => x.ListingCurrent.PriceFormatted).Titled("[[[Preço]]]").Format("{0:N2}");

                           columns.Add(x => x.ListingCurrent.Location).Titled("[[[Localização]]]");
                           columns.Add(x => x.ListingCurrent.Created).RenderValueAs(x => x.ListingCurrent.Created.ToShortDateString()).Titled("[[[Criado em]]]");
                       }).Sortable().Filterable().Selectable(false)
</div>

@section Styles {
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <link href="~/Content/gridmvc.datepicker.min.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/Scripts/gridmvc.min.js"></script>
    @Html.Partial("_LocalizationGridMvc")
}

