@model BeYourMarket.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "[[[Esqueceu sua Senha?]]]";
}
<head>
    <link href="~/Content/home.css" rel="stylesheet" />
</head>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-12 left-content"></div>
        <div class="col-lg-6 col-md-12 right-content center">
            <h4 style="margin-left:-15px;">@ViewBag.Title </h4>
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="form-group">
                        <label for="Email">@Html.LabelFor(m => m.Email) <span class="text-red">*</span></label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "input-lg", placeholder = "Informe seu email." })
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg">
                            [[[Enviar]]]
                        </button>
                    </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
