@using BeYourMarket.Web.Models
@model LoginViewModel

@*@{
        ViewBag.Title = "[[[Login]]]";
        var imagePath = ImageHelper.GetCommunityImagePath("background-1");
    }*@

<head>
    <link href="~/Content/home.css" rel="stylesheet" />
</head>


@*@using MoreLinq;
    @model BeYourMarket.Web.Models.SearchListingModel*@

@{
    ViewBag.Title = CacheHelper.Settings.Name;
    var navBarLogoPath = ImageHelper.GetLogoImagePath("logo_sem_fundo_horizontal");
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="~/Content/home.css" rel="stylesheet" />
</head>

@* start - navbar *@
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img id="navbar-logo" alt="Logo" src='@navBarLogoPath' />
        </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/">Início<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a href="#services">Serviços</a>
            </li>
            <li>
                <a href="@Url.Action("AgriculturalQuotes", "Cotacoes", new { oqeq = @ViewBag.oqeq })">Mercado Agrícola</a>
            </li>
            <li>
                <a href="@Url.Action("LivestockQuotes", "Cotacoes", new { oqeq = @ViewBag.oqeq })">Mercado Pecuária</a>
            </li>
            @*<li>
                    <a href="#products">Destaques</a>
                </li>*@
            <li>
                <a href="@Url.Action("Contact", "Home", new { oqeq = @ViewBag.oqeq })">Contate-nos</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("[[[Criar Conta]]]", "Register", "Account", new { area = string.Empty }, htmlAttributes: new { id = "registerLink" })
            </li>
            <li>
                @Html.ActionLink("[[[Entrar]]]", "Login", "Account", new { area = string.Empty, oqeq = 0 }, htmlAttributes: new { id = "loginLink" })
            </li>
        </ul>
    </div>
</nav>
@* end - navbar *@

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-12 left-content"></div>
        <div class="col-lg-6 col-md-12 right-content">
            <h4>[[[Efetuar login em sua conta]]]</h4>

            @using (Html.BeginForm("Login", "Account", new { returnUrl = ViewBag.ReturnUrl, oqeq = ViewBag.oqeq }, FormMethod.Post, new { role = "form", id = "loginForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label for="Email">@Html.LabelFor(m => m.Email) <span class="text-red">*</span></label>
                    <input class="input-lg" id="Email" name="Email" placeholder="[[[Seu Email...]]]" type="text" value="" data-rule-email="email" data-rule-required="true">
                </div>
                <div class="form-group">
                    <label for="Password">@Html.LabelFor(m => m.Password) <span class="text-red">*</span></label>
                    <input class="input-lg" id="Password" name="Password" placeholder="[[[Sua Senha...]]]" type="password" data-rule-required="true">
                </div>
                <div class="remember">
                    <input type="checkbox" id="RememberMe" name="RememberMe" value="true" />
                    <label for="RememberMe">[[[Lembrar-me?]]]</label>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">[[[Entrar]]]</button>
            }
            <div class="links">
                @Html.ActionLink("[[[Criar Conta]]]", "Register")
                @Html.ActionLink("[[[Esqueceu sua Senha?]]]", "ForgotPassword")
            </div>

        </div>
    </div>
</div>

<footer class="mainfooter" id="about">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="footer-pad">
                        <h4>Conheça o GrãoMercado</h4>
                        <ul class="list-unstyled">
                            <li><a href="#"><a href="@Url.Action("Sobre", "Home", new { oqeq = @ViewBag.oqeq })">Sobre o GrãoMercado</a></a></li>
                            <li><a href="#">Novidades</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="footer-pad">
                        <h4>Institucional</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Termos de Uso</a></li>
                            <li><a href="#">Políticas de Privacidade</a></li>
                            <li><a href="#">Trocas e Devoluções</a></li>
                            <li><a href="#">Termo de Consulta a Bureaus e Compartilhamento de Dados</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="footer-pad">
                        <h4>Precisa de ajuda?</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Fale Conosco</a></li>
                            <li><a href="#">Perguntas Frequentes</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="footer-pad">
                        <h4>Você é um distribuidor?</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Cadastre sua loja para vender online</a></li>
                            <li><a href="#">Acessar a plataforma do distribuidor</a></li>
                        </ul>
                    </div>
                </div>
                @*<div class="col-md-4 col-sm-12">
                        <div class="footer-pad social">
                            <h4>Social</h4>
                            <ul class="social-network social-circle">
                                <li><a href="#" class="iconFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="iconLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#" class="iconInstagram" title="Linkedin"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>*@
            </div>
            <div class="row">
                <button onclick="topFunction()" id="to-top" title="Go to top">
                    <i class="fa fa-chevron-circle-up"></i>
                </button>
            </div>
            <div class="row">
                <div class="col-md-12 copy">
                    <p class="text-center">&copy; @DateTime.Now.Year -  graomercado.com All rights reserve</p>
                </div>
            </div>
        </div>
    </div>
</footer>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}