@using GridMvc.Html
@model BeYourMarket.Web.Models.ListingModel

@section Styles {
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <link href="~/Content/gridmvc.datepicker.min.css" rel="stylesheet" />
}

@{
    ViewBag.Title = "[[[Listagens]]]";
}

@helper DisplayUpdateLink(int id)
{
    <a class="btn btn-primary btn-sm" href="@Url.Action("ListingUpdate", "Listing", new { id = id, oqeq = @ViewBag.oqeq })"><i class="fa fa-edit"></i> [[[Alterar]]]</a>
}

@helper DisplayDeleteLink(int id, string title) {
    <a class="btn btn-danger btn-sm" href="javascript:void(0);" onclick="confirmDelete(@id, '@title');"><i class="fa fa-remove"></i> [[[Delete]]]</a>
}

@helper GetCategoryName(int id)
{
    @Model.Categories.Single(x => x.ID == id).Name
}


<div class="wraper container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">[[[Listagens]]]</h3>
                </div>
                <div class="panel-body">
                    @Html.Partial("_UserMessage")

                    <div class="alert alert-info">
                        <p>[[[Aqui você pode gerenciar todas as listagens no mercado.]]]</p>
                    </div>

                    <div class="row">
                        <div class="col-lg-10">
                            <a class="btn btn-primary" href="@Url.Action("ListingUpdate", "Listing", new { oqeq = @ViewBag.oqeq })"><i class="fa fa-plus"></i> [[[Adicionar Novo]]]</a>
                        </div>
                    </div>

                    <hr />
                    
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            @Html.Grid(Model.Grid).SetLanguage(Context.GetPrincipalAppLanguageForRequest().ToString()).EmptyText("[[[Não há itens a exibir.]]]").Columns(columns =>
                       {
                           columns.Add()
                             .Encoded(false)
                             .Sanitized(false)
                             .RenderValueAs(x => DisplayUpdateLink(x.ID));
                           
                            columns.Add()
                             .Encoded(false)
                             .Sanitized(false)
                             .RenderValueAs(x => DisplayDeleteLink(x.ID, x.Title));

                           columns.Add(x => x.ID);
                           columns.Add(x => x.CategoryID).RenderValueAs(x => GetCategoryName(x.CategoryID)).Titled("[[[Categoria]]]");
                           columns.Add(x => x.ListingType.Name).Titled("[[[Tipo de Listagem]]]");
                           columns.Add(x => x.Active).Titled("[[[Ativo]]]");
                           columns.Add(x => x.Title).Titled("[[[Título]]]");
                           columns.Add(x => x.Description).Titled("[[[Descrição]]]");
                           columns.Add(x => x.ShowEmail).Titled("[[[Exibir Email]]]");
                           columns.Add(x => x.Created).RenderValueAs(x => x.Created.ToShortDateString()).Titled("[[[Criado em]]]");


                       }).Sortable().Filterable().WithPaging(10).Selectable(false)
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/Scripts/gridmvc.min.js"></script>
    @Html.Partial("_LocalizationGridMvc")

    <script type="text/javascript">
        function confirmDelete(id, title) {
            swal({
                title: "[[[Confirma a exclusão do item?]]]",
                text: "[[[You will delete]]] " + title,
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "[[[Excluir]]]",
                cancelButtonText: "[[[Cancelar]]]",
                closeOnConfirm: false,
                closeOnCancel: false
            }, function (isConfirm) {
                if (isConfirm) {
                    post('@Url.Action("ListingDelete","Listing")', { id: id });
                } else {
                    swal("[[[Cancelled!]]]", "", "error");
                }
            });
        }
    </script>
}